/.env

/.venv
__pycache__/

/__settings.py 

/base__.html
/dashboard__.html
/codefile.py

/folderStructure.md
/.vscode/
/.idea/
*.log
/program_usage.md

/workflow.md

/dump.py 

/templates_old/
/templates_/form_.html
/templates_/keep.html

/apps/labs/m.py

# git rm -r --cached templates_old

/test_cache.py/
/lims_document_control_db_schema.sql

db.sqlite3

billing.md
.env.local
