# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
/staticfiles/
/media/
/virt/
/venv/
.venv/

# --- Node / Tailwind ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcel-cache

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Project Specific ---
# We keep the 'src' but usually ignore the 'dist' if you want 
# the CI/CD to build it every time.
# /static/dist/styles.css

/apps/labs/old_views.py
/apps/accounts/old_views.py
/apps/patientviews_old.py
/.env

/.venv
/virt

__pycache__/

/__settings.py 
/node_modules/
/base__.html
/dashboard__.html
/codefile.py

/folderStructure.md
/.vscode/
/.idea/
*.log
/program_usage.md

/workflow.md
/apps.lms 

/dump.py 

/templates_old/
/templates_/form_.html
/templates_/keep.html

/templates/laboratory/examination/sample_detail1.html

/apps/labs/m.py

/node_modules/
# git rm -r --cached templates_old

test_cache.py/
/lims_document_control_db_schema.sql

db.sqlite3

billing.md
.env.local

1.1
.DS_Store
*.sqlite3
*.pyc
*.pyo
billing_flow.md
*.sqlite3-journal
firstjp_lims_web@1.0.0


QUALITY_CONTROL.md
requirements-dev.txt
DEPLOYMENT_GUIDE.md
ERROR-LOGS.md
.gitignore
test_cache.py

media/

gr.html
sd.html
sdd.html

/templates/dump/